<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="less">
<meta charset="utf-8" />
<title th:text="${blog.title}">Blog Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet/less" type="text/css" href="less/main.less" />
<script type="application/javascript" src="less/less-1.3.0.min.js"></script>
</head>
<head th:fragment="css">
<meta charset="utf-8" />
<title th:text="${blog.title}">Blog Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
</html>