<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
</head>
<body>
	<header th:fragment="header">
		<hgroup>
			<h1 th:text="${blog.title}">Blog Title</h1>
			<h2 th:text="${blog.subtitle}">sub title</h2>
		</hgroup>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav">
						<li><a th:href="${relative}" href="/">Home</a></li>
						<li><a th:href="${relative + 'archives'}" href="/archives">Archives</a></li>
						<li><a th:href="${relative + 'profile'}" href="/profile">Profile</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
</body>
</html>
