<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Between Design and Implementation</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet/less" type="text/css" href="less/main.less">
<script type="application/javascript" src="less/less-1.3.0.min.js"></script>
</head>
<body>
	<header>
		<hgroup>
			<h1>Between Design and Implementation</h1>
			<h2>I'm a monster but not evil</h2>
		</hgroup>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav">
						<li><a href="/">Home</a></li>
						<li><a href="/archives">Archives</a></li>
						<li><a href="/profile">Profile</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<div class="main container-fluid">
		<div class="row-fluid">
			<div class="contents span9">
				<article>
					<header>
						<h6>2012/03/26 03:02:11</h6>
						<h2>
							<a href="">たいとる</a>
						</h2>
					</header>
					<div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
						nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
						dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
						deserunt mollit anim id est laborum.</div>
				</article>
				<article>
					<header>
						<h6>2012/03/26 03:02:11</h6>
						<h2>
							<a href="">たいとる</a>
						</h2>
					</header>
					<div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
						nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
						dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
						deserunt mollit anim id est laborum.</div>
				</article>
				<article>
					<header>
						<h6>2012/03/26 03:02:11</h6>
						<h2>
							<a href="">たいとる</a>
						</h2>
					</header>
					<div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
						nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
						dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
						deserunt mollit anim id est laborum.</div>
				</article>
				<article>
					<header>
						<h6>2012/03/26 03:02:11</h6>
						<h2>
							<a href="">たいとる</a>
						</h2>
					</header>
					<div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
						nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
						dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
						deserunt mollit anim id est laborum.</div>
				</article>
			</div>
			<div class="sidemenu span3 hidden-phone">
				<div class="menus">
					<div class="menu profile">
						<img
							src="https://twimg0-a.akamaihd.net/profile_images/769940966/226710936a3042d473708005333d57118c925cac_normal.png" />
						<span> Trick Programmer </span>
					</div>
					<div class="menu">
						<h3>Recent Posts</h3>
						<ul class="unstyled">
							<li><a href="">たいとる</a></li>
							<li><a href="">たいとる</a></li>
						</ul>
					</div>
					<div class="menu">
						<h3>GitHub Repos</h3>
						<ul class="unstyled">
							<li><a href="https://github.com/taichi/org.handwerkszeug.mvnhack">org.handwerkszeug.mvnhack</a>
								<p>Download libraries from maven2 repository without maven2.</p></li>
							<li><a href="https://github.com/taichi/org.handwerkszeug.mvnhack">org.handwerkszeug.mvnhack</a>
								<p>Download libraries from maven2 repository without maven2.</p></li>
						</ul>
					</div>
					<div class="menu">
						<h3>Latest Tweets</h3>
						<ul class="unstyled tweets">
							<li>
								<p>
									<a href="http://twitter.com/ryushi/status/184919217206853632">8h</a>ほほう…。<a href="http://www.ux-xu.com/mofmof/">ux-xu.com/mofmof/</a>
								</p>
							</li>
							<li>
								<p>
									<a href="http://twitter.com/ryushi/status/184917246806736896">8h</a>俺もJavaなんつーもう無くなってしまったSUNとかいう会社の独自言語にハマってしまったせいで後れをとってしまった。
								</p>
							</li>
							<li>
								<p>
									<a href="http://twitter.com/ryushi/status/184883033185329152">10h</a>とりあえず、メジャーなプログラミング言語は全部潰しておこう。<a
										href="http://search.twitter.com/search?q=%23studynote">#studynote</a>
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:include="fragments/footer::footer">
		<div class="footer">
			<p>
				Thanks for <a href="http://twitter.github.com/bootstrap">Bootstrap, from Twitter</a>
			</p>
		</div>
	</footer>
</body>
</html>