.CodeMirror {
	border: 1px solid #DDD;
	#radius > .around();
	//font-size: 16px;
}

.CodeMirror-gutter {
	#radius > .left();
}

.CodeMirror.readonly {
	background-color: @grayLighter;
}

.readonly .CodeMirror-lines pre:hover, .CodeMirror-focused .activeline {
	#radius > .around();
	background: #f0fcff !important;
}
