@import "bootstrap.less";
@import "responsive.less";
@import "radius.less";
@import "codemirror.less";

.navbar-inner .btn-toolbar {
	margin-top: 0;
	margin-bottom: 0;
}

div.outline, div.preview, div.reference {
	border: 1px solid #ddd;
	#radius > .around();
	overflow: auto;
	padding: 0.5em;
}

div.outline {
	.h1, .h2, .h3, .h4, .h5, .h6 {
		.text-overflow();
	}
	.h1 { font-size: 18px; line-height: 20px; }
	.h2 { font-size: 15px; line-height: 20px; padding-left: 0.5em; }
	.h3 { font-size: 12px; line-height: 20px; padding-left: 1em; }
	.h4 { font-size: 9px; line-height: 10px;  padding-left: 1.5em;}
	.h5 { font-size: 7px; line-height: 10px; padding-left: 2em;}
	.h6 { font-size: 6px; line-height: 10px; padding-left: 2.5em;}
}

.fullscreen {
	.CodeMirror, div.outline, div.preview, div.reference {
		border: none;
	}
}

footer {
	margin-top: 2em;
	font-size: smaller;
	padding: 1em 1em 0 1em;
	border-top: 1px solid @gray;
}